<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <script src="https://kit.fontawesome.com/b65f3e018c.js" crossorigin="anonymous"></script>
    {% block head %}
    {% endblock %}
  </head>
  <body>
    {% block navbar %}
      {% include 'navbar.twig.html' with {bar: 'foo'}%}
    {% endblock %}
    
    <div class="columns">
      <div class="column">
        {% block content %}
        {% endblock %}
      </div>
    </div>  
    
    {% block footer %}
      {% include 'footer.twig.html' with {bar: 'foo'}%}
    {% endblock %}
    
  </body>
</html>